.leftbar-logo-name {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
  letter-spacing: 0.05em;
  color: white;
}

.leftbar-container {
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  background-color: #292929;
  padding-top: 20px;
}
.leftbar-logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.leftbar-column-name {
  margin-left: 8px;
}
.icon-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background: #f30050;
}
